.search {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.inputWrapper {
  position: relative;
  z-index: 2;
  width: 600px;
  height: 60px;
}

.autocomplete {
  position: absolute;
  z-index: 1;
  width: 600px;
  height: 60px;
  font-size: 2em;
  padding: 0 10px;
  line-height: 60px;
  box-sizing: border-box;
  color: #bbbbbb;
  white-space: pre;
}
