.search {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.inputWrapper {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 45px;
}

.autocomplete {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 45px;
  font-size: 1.5em;
  padding: 0 10px;
  line-height: 45px;
  box-sizing: border-box;
  color: var(--secondary-font-color);
  white-space: pre;
}
