{
  "env": {
    "mocha": true
  },
  "rules":{
    "import/no-webpack-loader-syntax": "off"
  },
  "settings": {
    "import/core-modules": "electron",
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.base.js"
      }
    }
  }
}
