{
  "presets": ["react"],
  "plugins": [
    "transform-object-rest-spread",
    "lodash",
    "transform-es2015-classes"
  ],
  "env": {
  	"production": {
  		"plugins": [
  			"babel-plugin-transform-remove-debugger"
  		]
  	},
    "development": {
      "presets": ["react-hmre"]
    },
    "test": {
      "plugins": [
				"babel-plugin-add-module-exports",
				"babel-plugin-transform-es2015-modules-commonjs"
      ]
    }
  }
}
