{
  "presets": [
    "react",
    ["env", {
      "targets": {
        "electron": "1.4"
      }
    }]
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    "lodash",
    "add-module-exports",
    "babel-plugin-transform-decorators-legacy"
  ],
  "env": {
  	"production": {
  		"presets": ["react-optimize"],
  		"plugins": [
  			"babel-plugin-transform-remove-debugger"
  		]
  	},
    "development": {
      "presets": ["react-hmre"]
    },
    "test": {
      "plugins": [
        ["webpack-loaders", { "config": "webpack.config.node.js", "verbose": false }]
      ]
    }
  }
}
