@import "~normalize.css/normalize.css";
@import "~react-virtualized/styles.css";
@import "~highlight.js/styles/github-gist.css";
@import "~react-select/dist/react-select.css";

:root {
  /** Main fonts and text colors */
  --main-font: "Helvetica Neue";
  --secondary-font-color: #999;
  /* Selected menu item*/
  --selected-menu-background: rgba(18, 110, 219, 1);
  --selected-menu-color: white;
}

html, body {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  height: 100vh;
  font-family: var(--main-font);
  overflow-y: hidden;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: .75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

#root {
  height: 100%;
}
