/**
 * TODO: colors should be moved to variables
 */

.lineResponse {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: flex-start;
  white-space: nowrap;
  width: 100%;
  cursor: pointer;
  box-sizing: border-box;
  height: 45px;
  padding: 3px 5px;
  align-items: center;
}

.icon {
  height: 75%;
  width: auto;
  margin-right: 5px;
}

.title {
  font-size: .8em;
  max-width: 100%;
  overflow-x: hidden;
}

.selected {
  background: #126EDB;
  color: white;
}

.subtitle {
  font-size: 0.8em;
  font-weight: 300;
  color: #cccccc;
  max-width: 100%;
  overflow-x: hidden;
}

.keycode {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translate(0, -50%);
  font-size: .7em;
  color: #aaa;
}

.details {
  position: relative;
  display: flex;
  flex-grow: 2;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 225px;
  height: 90%;
}

.details::after {
  content: '';
  background: linear-gradient(to right, transparent, white);
  position: absolute;
  width: 10px;
  height: 100%;
  top: 0;
  right: 0px;
}

.selected .details::after {
  background: linear-gradient(to right, transparent, #126EDB);
}
