.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-top: 1px solid #eee;
  height: 100%;
}

.unfocused {
  opacity: .5;
}

.resultsList {
  overflow-y: auto;
  width: 250px;
  min-width: 250px;
}

.preview {
  flex-grow: 2;
  padding: 10px 10px 20px 10px;
  align-items: center;
  display: flex;
  max-height: 100%;
  position: relative;
  overflow: auto;
  /*
    Instead of using `justify-content: center` we have to use this hack.
    In this case child element that is bigger than `.preview ` will be placed on left border
    instead of moving outside of container
   */
  &::before, &::after {
    content: '';
    margin: auto;
  }
}
