.input {
  width: 100%;
  height: 45px;
  background-color: var(--main-background-color);
  color: var(--main-font-color);
  font-family: var(--main-font);
  font-size: 1.5em;
  border: 0;
  outline: none;
  padding: 0 10px;
  line-height: 60px;
  box-sizing: border-box;
  background: transparent;
  white-space: nowrap;
  -webkit-app-region: drag;
  -webkit-user-select: none;
}
