.input {
  width: 100%;
  height: 60px;
  font-size: 2em;
  border: 0;
  outline: none;
  padding: 0 10px;
  line-height: 60px;
  box-sizing: border-box;
  background: transparent;
  white-space: nowrap;
  -webkit-app-region: drag;
  -webkit-user-select: none;
}
