html, body {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  height: 100vh;
  font-family: Helvetica;
  overflow-y: hidden;
  -webkit-app-region: drag;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: .75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}
