.item {
  cursor: pointer;
  border-bottom: var(--main-border);
  background: var(--result-background);
  color: var(--result-title-color);
  padding: 0 5px;
  height: 35px;
  display: flex;
  align-items: center;
  &:last-child {
    border-bottom: 0;
  }
  &:focus {
    outline: none;
    background: var(--selected-result-background);
    color: var(--selected-result-title-color);
  }
}
