.item {
  display: flex;
  flex-direction: row;
  width: 250px;
  margin-top: 20px;
  &:first-child {
    margin-top: 0;
  }
}

.itemValue {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

.itemValueWithoutLabel {
  composes: itemValue;
  margin-left: 75px;
}

.itemNotice{
  color: var(--secondary-font-color);
  font-size: .8em;
  margin-top: 5px;
}

.label {
  margin-right: 15px;
  margin-top: 8px;
  min-width: 60px;
  max-width: 60px;
}

.input {
  font-size: 16px;
  line-height: 34px;
  padding: 0 10px;
  box-sizing: border-box;
  width: 100%;
  border-color: #d9d9d9 #ccc #b3b3b3;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.checkbox {
  margin-right: 5px;
}

.button {
  background: #FFF;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  &:focus {
    border-color: #007eff;
    outline: 0;
    outline-color: transparent;
    outline-style: none;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1);
  }

  &:hover {
		box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
	}
}
