.lineResponse {
  width: 100%;
  cursor: pointer;
  box-sizing: border-box;
  height: 60px;
  padding: 5px 10px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: flex-start;
  white-space: nowrap;
}

.title {
  font-size: 1.5em;
}

.selected {
  background: #126EDB;
  color: white;
}

.subtitle {
  font-size: 0.8em;
  font-weight: 100;
  color: #cccccc;
}

.details {
  display: flex;
  flex-grow: 2;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
