.search {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.inputWrapper {
  position: relative;
  z-index: 2;
  width: 100%;
  height: var(--input-height);
    display: flex;
}

.autocomplete {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: var(--input-height);
  font-size: 1.5em;
  padding: var(--input-padding);
  line-height: calc(var(--input-height) + 1px);
  box-sizing: border-box;
  color: var(--secondary-font-color);
  white-space: pre;
}

.test{
    width:0px;
  height: var(--input-height);
  color: var(--main-font-color);

  -webkit-app-region: drag;
  -webkit-user-select: none;
  background-color: red;
}

.testimage{
    max-height:32px;
    max-width:32px;
    margin-left:18px;
    margin-top:15px;
    opacity: 0.35;
}