.search {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.inputWrapper {
  position: relative;
  z-index: 2;
  width: 100%;
  height: var(--input-height);
}

.autocomplete {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: var(--input-height);
  font-size: 1.5em;
  padding: var(--input-padding);
  line-height: calc(var(--input-height) + 1px);
  box-sizing: border-box;
  color: var(--secondary-font-color);
  white-space: pre;
}
