.search {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.inputWrapper {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 45px;
}

.autocomplete {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 45px;
  font-size: 1.5em;
  padding: 0 10px;
  line-height: 46px;
  box-sizing: border-box;
  color: var(--secondary-font-color);
  white-space: pre;
}

::-webkit-scrollbar {
  height: var(--scroll-height);
  width: var(--scroll-width);
  background: var(--scroll-background);
  -webkit-border-radius: 0;
}

::-webkit-scrollbar-track {
  background: var(--scroll-track);
}
::-webkit-scrollbar-track:active {
  background: var(--scroll-track-active);
}

::-webkit-scrollbar-track:hover {
  background: var(--scroll-track-hover);
}

::-webkit-scrollbar-thumb {
  background: var(--scroll-thumb);
  -webkit-border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-thumb-hover);
}

::-webkit-scrollbar-thumb:active {
  background: var(--scroll-thumb-active);
}

::-webkit-scrollbar-thumb:vertical {
  min-height: 10px;
}

::-webkit-scrollbar-thumb:horizontal {
  min-width: 10px;
}

.input {
  width: 100%;
  height: 45px;
  color: var(--main-font-color);
  font-family: var(--main-font);
  font-size: 1.5em;
  border: 0;
  outline: none;
  padding: 0 10px;
  line-height: 60px;
  box-sizing: border-box;
  background: transparent;
  white-space: nowrap;
  -webkit-app-region: drag;
  -webkit-user-select: none;
}
